# Open Router
OPENROUTER_API_KEY=your_openrouter_api_key
STABILITY_API_KEY=your_stability_api_key

# Pinecone
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_ENV=us-east-1

# Groq
GROQ_API_KEY=your_groq_api_key

# Financial News
POLYGON_API_KEY=your_polygon_api_key
TWELVE_DATA_API_KEY=your_twelvedata_api_key

# Supabase
DB_PASSWORD=your_db_password
SUPABASE_URL=https://your_project_id.supabase.co
SUPABASE_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# STABILITY
STABILITY_ENGINE=stable-diffusion-xl-1024-v1-0 # Alternative: esrgan-v1-x2plus
STABILITY_HOST=https://api.stability.ai/

# UNSPLASH
UNSPLASH_ACCESS_KEY=your_unsplash_access_key

# PEXELS
PEXELS_API_KEY=your_pexels_api_key

# LANGSMITH
LANGCHAIN_API_KEY=your_langchain_api_key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=llms_project

# IMAGE DEFAULT VALUES
IMG_SUBJECT=4 male programmers, 1 female programmer, working together in a modern office space, with computers and coffee cups around them
IMG_STYLE=Modern and sleek
IMG_MEDIUM=Digital art
IMG_LIGHTING=Soft morning light
IMG_COLOR_PALETTE=Pastel colors
IMG_COMPOSITION=Wide shot, showing the entire team in action
IMG_RESOLUTION=1024x1024 pixels
IMG_CONTRAST=High contrast
IMG_MOOD=Creative and energetic
IMG_DETAILS=Soft focus