langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langsmith
fastapi
uvicorn
supabase
sentence-transformers
python-multipart
feedparser
pymupdf
python-multipart
# General Requirements
argparse
dotenv

# Translation Requirements
langdetect
deep-translator



# Unsplash Requirements
keybert

# bbdd Requirements
langchain
langchain-pinecone
langchain-huggingface
python-dotenv
pinecone

# document reader Requirements
python-docx 
PyMuPDF 
markdown
chardet
